In [3]:
#Break
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    print(num)
    if num ==8 :
        print("angka 8 ditemukan")
        break

1
2
3
4
5
6
7
8
angka 8 ditemukan

In [7]:
#Continue
numbers = [11,12,13,14,15,16,17,18,19,20]
for nums in numbers:
    if nums %4==0 :
        continue
    print(nums)

11
13
14
15
17
18
19

In [9]:
#Pass
for x in range (1,14):
    pass

# Function

In [11]:
#mendefinisikan function
def sapa():
    print("Hallo, Guten Tag")
sapa ()

Hallo, Guten Tag

In [14]:
#Argumen dan Parameter
def greet(name, time):
    print("Hallo", name, "Guten", time,"!")
greet("Lea", "Morgen")

Hallo Lea Guten Morgen !

In [16]:
def s(x,y) :
    s=x*y
    print(s)
s(2,4)

8

In [18]:
#return
def f():
    return 7+3
    print("Halo")
f()

10

In [20]:
n=int(input("Your Number : "))

def a(x):
    if x<=5:
        return x*10
    else:
        return x*100
a(n)

Your Number : 7

700

In [24]:
#Default parameter
def age(name, age):
    print("Name :", name , age, "years old")
age("Rima")

TypeError: age() missing 1 required positional argument: 'age'

In [23]:
#Default parameter
def age(name, age = '19'):
    print("Name :", name , age, "years old")
age("Rima")

Name : Rima 19 years old

In [26]:
#Keyword Parameter

def user(nama, umur, status, pekerjaan):
    print("Nama :", nama,"\nUmur :",umur,"\nStatus :", status,"\nPekerjaan :", pekerjaan)

user(pekerjaan = "Data scientist", umur = 30, status = "lajang", nama = "Linda")

Nama : Linda
Umur : 30
Status : lajang
Pekerjaan : Data scientist

In [28]:
#Dictionary
users = {'nama':"Lea", 'umur' : "19"}
print(users['umur'])

19

In [30]:
#*args & **kwargs
def a(*num):
    for x in num:
        return x*2
a(1,2,3,4,5,6)

2

In [31]:
def ar(*nama):
    for x in nama:
        print(x)
ar ("Rima","Budi", "dll")

Rima
Budi
dll

In [34]:
def bio(**data):
    for key,value in data.items():
        print(key, value,sep=': ')
        
bio(nama="Rima", umur =10,Hobi="main biola")
print()
bio(nama="Royz", umur =15,Hobi="main bola")

nama: Rima
umur: 10
Hobi: main biola

nama: Royz
umur: 15
Hobi: main bola

In [35]:
#anonymous funtion
#lambda function

bagi = lambda x,y : x/y
bagi (10,2)

5.0

In [38]:
def contoh():
    print("Halo")
sapa=contoh()

Halo

In [41]:
deret = [10,11,12,13,14,15,16,17,18,19,20]
hitung=map(lambda x : x*26 , deret)
print(list(deret))
print(list(hitung))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[260, 286, 312, 338, 364, 390, 416, 442, 468, 494, 520]

In [42]:
deret1 = [10,11,12,13,14,15,16,17,18,19,20]
deret2 = [10,11,12,13,14,15,16,17,18,19,20]
hitung=map(lambda x,y : x*y , deret1,deret2)
print(list(hitung))

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [45]:
a1 = 70
def numbers():
    a1=40
    print(a1)
numbers()

40

In [50]:
#local and global scope
globalscope = "Ini Global scope"
def gs():
    localscope = "Ini local scope"
    print(globalscope)
    print(localscope)
gs()

Ini Global scope
Ini local scope

In [55]:
#Module
import math 
#tambahkan as mtk for example utk memanggil pakai nama lain
pi=math.pi
print(pi)

3.141592653589793

In [54]:
akar=math.sqrt(100)
print(akar)
print(int(akar))

10.0
10

In [56]:
import sys
print(sys.platform)

win32

In [63]:
import time

print(time.time())
print(time.localtime())

1605340297.9452498
time.struct_time(tm_year=2020, tm_mon=11, tm_mday=14, tm_hour=14, tm_min=51, tm_sec=37, tm_wday=5, tm_yday=319, tm_isdst=0)