
# Penggabungan Kondisi

## And

In [2]:
jam = int(input("Pukul berapa sekarang?"))

#pagi : 5-11
#siang : 11-15
#sore :15-18
#malam : 18-4

#kondisi
if jam >=5 and jam<=11:
    print("Selamat pagi")
elif jam >11 and jam<=15 :
    print("Selamat Siang")
elif jam > 15 and jam<=18 :
    print ("Selamat Sore")
else:
    print("Selamat Malam")

Pukul berapa sekarang?11
Selamat pagi

In [4]:
#Shorthand And

angka = 5
if 4 < angka < 6:
    print ("Halo")

Halo

## Or

In [6]:
#true w/ true
if 6<7 or 8<9:
    print ("Benar")

Betul

In [7]:
#true w/ false
if 6<7 or 8>9:
    print("Salah satunya betul")

Salah satunya betul

In [10]:
n= 6
if n != 9: 
    print("Hi")

Hi

In [16]:
li=['A','B','C']
if ('C' not in li):
    print ('C is not in the list')
else:
    print('C is in the list')

C is in the list

In [12]:
x=False
print(not x)

True

In [17]:
m=int(input("Masukkan angka : "))
li=[1,2,3,4,5,6,7,8,9,10]
if(m not in li):
    print(m, "tidak ada di list")
else :
    print (m, "ada di dalam list")

Masukkan angka : 8
8 ada di dalam list

In [18]:
#is 
a=8
if (type(a) is int):
    print(a, "adalah int")
else:
    print(a, "bukan int")

8 adalah int

## Random

In [19]:
from random import randint

print(randint(1,100))

46

In [23]:
from random import randrange

print(randrange(1,100,2))

51

## List

In [28]:
list1 =['Bakso','Pizza', 'Hotdog','Bakmi','Soto']
#urutan dari data ke 0

#memanggil salah satu value
print(list1[0])
print(list1[-1])
print(list1[0:3])
print(list1[:2])

Bakso
Soto
['Bakso', 'Pizza', 'Hotdog']
['Bakso', 'Pizza']

In [35]:
#Mengedit Value
list1[2]='Rendang'
print(list1[2])

print(" ")

#Menambah Value
list1.append('Burger')
print(list1)

list1.append('Ayam Geprek')
print(list1)

Rendang

['Bakso', 'Pizza', 'Rendang', 'Bakmi', 'Soto', 'Burger', 'Burger', 'Ayam Geprek', 'Burger', 'Ayam Geprek', 'Burger', 'Ayam Geprek', 'Burger']
['Bakso', 'Pizza', 'Rendang', 'Bakmi', 'Soto', 'Burger', 'Burger', 'Ayam Geprek', 'Burger', 'Ayam Geprek', 'Burger', 'Ayam Geprek', 'Burger', 'Ayam Geprek']

In [37]:
#menghapus Value
del list1[6:13]
print (list1)

['Bakso', 'Pizza', 'Rendang', 'Bakmi', 'Soto', 'Burger', 'Ayam Geprek']

In [38]:
#looping lsit
for makanan in list1:
    print("Saya suka", makanan, sep=':')

Saya suka:Bakso
Saya suka:Pizza
Saya suka:Rendang
Saya suka:Bakmi
Saya suka:Soto
Saya suka:Burger
Saya suka:Ayam Geprek

# Dictionary

In [40]:
dictionary ={'key':'Value'}

In [41]:
bio = {'nama': 'Budiman','umur': '20','profesi':'Mech Eng'}
print(bio)

{'nama': 'Budiman', 'umur': '20', 'profesi': 'Mech Eng'}

In [43]:
print(bio['nama'])
print(bio['umur'])
print(bio['profesi'])

Budiman
20
Mech Eng

In [44]:
for key,value in bio.items():
    print(key, value, sep=' : ')

nama : Budiman
umur : 20
profesi : Mech Eng

In [45]:
pelanggan = {
    1:{
        'nama' : 'Budiman', 'umur' : '20', 'profesi':'Mech Eng'
    },
    2:{
        'nama' : 'Abraham', 'umur' : '30', 'profesi':'Ind Eng'
    },
    3:{
        'nama' : 'Isaac', 'umur' : '40', 'profesi':'WWTP Op'
    }
}
print(pelanggan[1])
print (pelanggan[2])

{'nama': 'Budiman', 'umur': '20', 'profesi': 'Mech Eng'}
{'nama': 'Abraham', 'umur': '30', 'profesi': 'Ind Eng'}

In [47]:
for key,value in pelanggan.items():
    print (key,value)

1 {'nama': 'Budiman', 'umur': '20', 'profesi': 'Mech Eng'}
2 {'nama': 'Abraham', 'umur': '30', 'profesi': 'Ind Eng'}
3 {'nama': 'Isaac', 'umur': '40', 'profesi': 'WWTP Op'}

In [50]:
for key,value in pelanggan.items():
    print ("pelanggan ke-", key)
    # looping
    for key2 in value:
        print(key2,value[key2], sep=' : ')
    print (" ")

pelanggan ke- 1
nama : Budiman
umur : 20
profesi : Mech Eng

pelanggan ke- 2
nama : Abraham
umur : 30
profesi : Ind Eng

pelanggan ke- 3
nama : Isaac
umur : 40
profesi : WWTP Op

In [51]:
tup = ('Ikan', 'Beruang' , 'Badak')
print (tup)
print(type(tup))

('Ikan', 'Beruang', 'Badak')
<class 'tuple'>

In [52]:
tup.append ('Kelinci')

AttributeError: 'tuple' object has no attribute 'append'

In [53]:
del tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [54]:
tup[0]='Ayam'

TypeError: 'tuple' object does not support item assignment

In [55]:
#kesimpulan : tuple immutable

In [56]:
print(len(tup))

3

In [57]:
print(tup[1])

Beruang

In [61]:
#convert
tup2=list(tup)
print(tup2)
tup2[1]='Buaya'
print(tup2)
tup3=tuple(tup2)
print (tup3)

['Ikan', 'Beruang', 'Badak']
['Ikan', 'Buaya', 'Badak']
('Ikan', 'Buaya', 'Badak')

## Set

In [63]:
set1={'Berlin','Kairo','Tallin','London','Yereva'}
print(set1,type(set1))

{'Berlin', 'Yereva', 'London', 'Tallin', 'Kairo'} <class 'set'>

In [64]:
set_angka1={1,2,3,4,5,6,7,8,9,10}
set_angka2 = {5,6,7,8,9,10,11,12,13,17,18,19,20}
print(set_angka1&set_angka2)
print(set_angka1 | set_angka2)

{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 19, 20}