# Penggabungan Kondisi

## And

In [5]:
# Input Jam
jam = int(input("Pukul berapa sekarang?"))

#pagi : 5 - 11
#siang: 11-15
#sore: 15-18
#Malam: 18 - 4

# Kondisi

if jam >= 5 & jam <= 11:
    print("Selamat Pagi!")
elif jam > 11 and jam <= 15:
    print("Selamat Siang")
elif jam > 15 and jam <= 18:
    print("Selamat Sore")
else:
    print("Selamat Malam")

Pukul berapa sekarang?20
Selamat Malam

In [15]:
# Shorthand AND

angka = 5
if 4 < angka < 6:
    print("Halo")
else:
    print("Else")

Halo

## Or

In [21]:
# true w/ true
if 6 < 7 or 8 < 9:
    print("Betul")

In [17]:
# true w/ false
if 6 < 7 or 8 > 9:
    print("Salah satunya betul")

Salah satunya betul

In [23]:
angka = 3
if angka != 4:
    print("True")

True

In [25]:
x = True
print(not x)

False

In [31]:
li = ['A', 'B', 'C']
if ('C' not in li):
    print('C not in list')
else:
    print('C di dalam list')

C di dalam list

In [34]:
masukkan = int(input("Masukkan angka: "))
li = [1,2,3,4,5,6,7,8, 10]
if (masukkan not in li):
    print(masukkan, "tidak ada di list")
else:
    print(masukkan, "ada di dalam list")

Masukkan angka: 8
8 ada di dalam list

In [35]:
# is
ank = 8
if (type(ank) is int):
    print(ank, "adalah int")
else:
    print(ank, "bukan int")

8 adalah int

# Random

In [39]:
from random import randint

print(randint(1,100))

39

In [64]:
from random import randrange

print(randrange(1, 100, 2))

75

# List

In [92]:
list_satu = ['Bakso', 'Pizza', 'Hotdog', 'Bakmi', 'Soto']
# Memanggil salah satu valuenya
print(list_satu[0])
print(list_satu[-2])
print(list_satu[0:3])
print(list_satu[:2])

Bakso
Bakmi
['Bakso', 'Pizza', 'Hotdog']
['Bakso', 'Pizza']

In [93]:
# Mengedit Value
list_satu[2] = 'Rendang'
print(list_satu[2])
list_satu[1] = 'Bika Ambon'
print(list_satu[1])

Rendang
Bika Ambon

In [94]:
# Tambah nilai
list_satu.append("Sanjai")
print(list_satu)
list_satu.append("Geprek")
print(list_satu)

['Bakso', 'Bika Ambon', 'Rendang', 'Bakmi', 'Soto', 'Sanjai']
['Bakso', 'Bika Ambon', 'Rendang', 'Bakmi', 'Soto', 'Sanjai', 'Geprek']

In [97]:
# Menghapus nilai
del list_satu[5]
print(list_satu)

['Bakso', 'Bika Ambon', 'Rendang', 'Bakmi', 'Soto', 'Geprek']

In [99]:
# looping list
for makanan in list_satu:
    print("Saya suka", makanan, sep=': ')

Saya suka: Bakso
Saya suka: Bika Ambon
Saya suka: Rendang
Saya suka: Bakmi
Saya suka: Soto
Saya suka: Geprek

# Dictionary

In [101]:
bio = {'nama':'Budiman', 'umur':'20', 'profesi':'DevOps'}
print(bio)

{'nama': 'Budiman', 'umur': '20', 'profesi': 'DevOps'}

In [107]:
print(bio['nama'])
print(bio['umur'])
print(bio['profesi'])

Budiman
20
DevOps

In [110]:
# Looping dictionary
for k, v in bio.items():
    print(k, v, sep=': ')

nama: Budiman
umur: 20
profesi: DevOps

In [117]:
# dictionary bercabang
pelanggan = {
    1:{
      'nama': 'Budiman', 'umur': '20', 'profesi':'DevOps'
    },
    2:{
      'nama': 'Abraham', 'umur': '30', 'profesi':'UI/UX Designer'
    },
    3:{
      'nama': 'Isaac', 'umur': '40', 'profesi':'Front-End Dev'
    }
}
print(pelanggan[1])
print(pelanggan[2])
print(pelanggan[2])

{'nama': 'Budiman', 'umur': '20', 'profesi': 'DevOps'}
{'nama': 'Abraham', 'umur': '30', 'profesi': 'UI/UX Designer'}
{'nama': 'Abraham', 'umur': '30', 'profesi': 'UI/UX Designer'}

In [129]:
# Looping
for key, value in pelanggan.items():
    print("Pelanggan ke-", key)
    # looping
    for key2 in value:
        print(key2, value[key2], sep=': ')
    print()

Pelanggan ke- 1
nama: Budiman
umur: 20
profesi: DevOps

Pelanggan ke- 2
nama: Abraham
umur: 30
profesi: UI/UX Designer

Pelanggan ke- 3
nama: Isaac
umur: 40
profesi: Front-End Dev

# Tuple

In [132]:
tup = ('Ikan', 'Beruang', 'Badak')
print(tup)
print(type(tup))

('Ikan', 'Beruang', 'Badak')
<class 'tuple'>

In [134]:
tup.append('Kelinci')

AttributeError: 'tuple' object has no attribute 'append'

In [136]:
del tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [138]:
tup[0] = 'Ayam'

TypeError: 'tuple' object does not support item assignment

In [140]:
print(len(tup))

3

In [142]:
print(tup[1])

Beruang

In [154]:
# covert
tup_2 = list(tup)
print(tup_2)
tup_2[1] = 'Buaya'
print(tup_2)
tup_3 = tuple(tup_2)
print(tup_3)

['Ikan', 'Beruang', 'Badak']
['Ikan', 'Buaya', 'Badak']
('Ikan', 'Buaya', 'Badak')

# Set

In [156]:
set_satu = {'Berlin', 'Kairo', 'Tallin', 'London', 'Yereva'}
print(set_satu, type(set_satu))

{'London', 'Tallin', 'Berlin', 'Yereva', 'Kairo'} <class 'set'>

In [159]:
print(set_satu[1])

TypeError: 'set' object is not subscriptable

In [161]:
set_angka = {1, 2, 2, 3, 3, 4, 5, 6, 5}
print(set_angka)

{1, 2, 3, 4, 5, 6}

In [163]:
set_kota = {'Berlin', 'Kairo', 'Tallin', 'London', 'Yerevan', 'Berlin', 'Tallin'}
print(set_kota)

{'Yerevan', 'London', 'Tallin', 'Berlin', 'Kairo'}

In [167]:
set_angka1 = {1,2,3,4,5,6,7,8,9,10}
set_angka2 = {5,6,7,8,9,10,11,13,14,15,16,17,18,19,20}
print(set_angka1 & set_angka2)
print(set_angka1 | set_angka2)

{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20}